
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h3>Username and password here.</h3>
<form action="#">
    <input type="text" />
    <input type="password" />
    <button type="submit">Login</button>

</form>
