
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h3>Email and password here.</h3>
<form action="#">
    <input type="text" />
    <input type="password" />
    <button type="submit">Login</button>
</form>
<a href="#">Create Account</a>
<p>Forgot password? Too Bad!!</p>
